.new-run__head {
  color: $Title_White;
}

.new-run {
  margin: 10px;
  list-style: none;
}

.new-run__log {
  display: flex;
  flex-direction: column;
  padding: 0;
  background: $Background_Grey;
}

input[type="text"] {
  background: $Background_Grey;
  border: none;
  margin: 5px;
  color: $Regular_Text;
  border-bottom: 1px $Button_Text_Grey solid;
}

.new-run__btns {
  margin-top: 20px;
}

.save-btn {
  padding: 1.5rem;
  float: right;
  background: $Button_Green;
  border-radius: 10%;
}

.cancel-btn {
  padding: 1.5rem;
  background: $Button_Grey;
  border-radius: 10%;
}
