.run-detail {
  list-style: none;
}

.run-detail__head {
  color: $Title_White;
  font-weight: lighter;
}

.run-detail__log {
  display: flex;
  justify-content: space-between;
}

.date {
  color: $Regular_Text;
}

.time {
  color: $Button_Green;
  margin-right: 1rem;
}

.run-detail__note{
  margin: 2rem auto;
  color: $Regular_Text;
}

.back-btn {
  position: absolute;
  bottom: 5%;
  border-radius: 50%;
  padding: 1.3rem;
}

.edit-btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  padding: 1.3rem;
  background-color: $Button_Green;
  color: $Title_White;
}
