@import "yoga";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";
@import "box-sizing";

$Button_Grey: #ddd;
$Button_Green: #80cbc4;
$Header_Bar_Blue: #00bbd3;
$Title_White: #fff;
$Regular_Text: rgba(255, 255, 255, 0.6);
$Placeholder_Text: rgba(255, 255, 255, 0.4);
$Green_Text: #92cbc5;
$Button_Text_Grey: #1c1c1c;
$Background_Grey: #3e4349;

a {
  text-decoration: none;
}

html {
  background-color: $Background_Grey;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

.container {
  margin: auto;
}

.nav-bar {
  color: $Title_White;
  background-color: $Header_Bar_Blue;
  height: 2.5rem;
  padding-left: 2.1rem;
}

.header {
  margin: 0;
  padding: 10px;
  font-weight: lighter;
}

.run-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  background: $Background_Grey;
}

.run-log {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px $Button_Text_Grey solid;
  margin: 5px;
}

.date {
  color: $Regular_Text;
}

.time {
  color: $Button_Green;
  justify-content: flex-end;
  margin-right: 1rem;
}

.post-new {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: .8rem;
  background: $Button_Green;
  color: $Title_White;
  border: 15px $Button_Green solid;
  border-radius: 50%;
  text-decoration: none;
}

@import "run-form";
@import "run-detail";
