@import "yoga";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";
@import "box-sizing";
@import "run-form";

$Button_Grey: #ddd;
$Button_Green: #80cbc4;
$Header_Bar_Blue: #00bbd3;
$Title_White: #fff;
$Regular_Text: rgba(255, 255, 255, 0.6);
$Placeholder_Text: rgba(255, 255, 255, 0.4);
$Green_Text: #92cbc5;
$Button_Text_Grey: #1c1c1c;
$Background_Grey: #3e4349;

html {
  box-sizing: border-box;
  background-color: $Background_Grey;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: auto;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
}

.nav-bar {
  color: $Title_White;
  background-color: $Header_Bar_Blue;
  height: 2.5rem;
  padding-left: 10px;
}

.header {
  margin: 0;
  padding: 5px;
}

.run-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  background: $Background_Grey;
}

.run-log {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px $Button_Text_Grey solid;
  margin: 5px;
}

.date {
  color: $Button_Text_Grey;
}

.time {
  color: $Button_Green;
}

.post-new {
  display: flex;
  font-size: 2rem;
  background: $Button_Green;
  color: $Title_White;
  border: 10px $Button_Green solid;
  border-radius: 50%;
  float: right;
  text-decoration: none;
}
