@import "yoga";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";
@import "box-sizing";

$Button_Grey: #ddd;
$Button_Green: #80cbc4;
$Header_Bar_Blue: #00bbd3;
$Title_White: #fff;
$Regular_Text: rgba(255, 255, 255, 0.6);
$Placeholder_Text: rgba(255, 255, 255, 0.4);
$Green_Text: #92cbc5;
$Button_Text_Grey: #1c1c1c;
